{{>navbar}}

<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Vars blir det av?</h1>
    </div>
    <div class="row">
        <div class="col-sm-4" id="driver-places" style="margin-bottom: 16px;">
            <div class="list-group">
                {{#'/place/list'}}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{name}}</h4>
                    <p class="list-group-item-text">Pizza 100 sek</p>
                </a>
                {{/'/place/list'}}
            </div>
            <div type="button" class="btn btn-lg btn-primary" onClick="window.location.href='/driver/add/place';">Släng in ett nytt hak</></div>
        </div>
        <div class="col-sm-4" id="driver-times" style="display: none; margin-bottom: 16px;">
            <div class="list-group">
                {{#'/time/list'}}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{time}}</h4>
                </a>
                {{/'/time/list'}}
            </div>
            <div type="button" class="btn btn-lg btn-primary" onClick="window.location.href='/driver/add/time';">Stoppa in en ny tid</div>
        </div>
        <div class="col-sm-4" id="driver-cars" style="display: none; margin-bottom: 16px;">
            <div class="list-group">
                {{#'/car/list'}}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{name}}</h4>
                    <p class="list-group-item-text">{{seatsForward}} plats fram, {{seatsBack}} platser bak</p>
                </a>
                {{/'/car/list'}}
            </div>
            <div type="button" class="btn btn-lg btn-primary" onClick="window.location.href='/driver/add/car';">Kräng in ett nytt vrålåk</div>
        </div>
    </div>
    <div id="driver-go" style="display: none;">
        <div class="page-header">
            <h1>Gå vidare</h1>
        </div>
        <p>
            <button type="button" class="btn btn-lg btn-success">Kör på ba!</button>
        </p>
    </div>
</div>